table, th, td {
    border: 1px solid rgb(116, 105, 182);
    border-radius: 5px;
    padding: 8px;
}

.monospace {
    font-family: monospace;
}

table {
    margin: 0 auto;
    background-color: rgb(225, 175, 209);
    box-shadow: 2px 5px 15px;
}

th {
    background-color: rgb(172, 135, 197);
    font-weight: bold;
}

td {
    background-color: rgb(184, 152, 205);
    max-width: 680px;
}

.cssTable .monospace {
    text-align: center;
}