/* Root and general styles */

:root {
    font-size: 16px;
    --primary-orange: rgb(255, 152, 67);
    --light-orange: rgb(255, 221, 149);
    --light-blue: rgb(134, 167, 252);
    --dark-blue: rgb(52, 104, 192);
    --shading-color: rgb(44, 50, 51);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--light-orange);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* End of General styles */



/* Desktop Styles */
@media only screen and (min-width: 769px) {

    /* Header */
    header nav.mobile, footer {
        display: none;
    }

    header nav.desktop {
        background-color: var(--primary-orange);
        width: calc(100vw - 3.5rem);
        height: 5.375rem;
        padding-left: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
    }

    nav .logo {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    nav .logo svg {
        width: 100%;
        height: auto;
        transform: scale(2.5);
        fill: var(--shading-color);
    }
    
    header nav .nav-options {
        height: 100%;
        width: 50%;
        display: flex; align-items: center;
    }

    header nav .nav-options > button {
        height: 100%;
        width: 120px;
        background-color: var(--primary-orange);
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
        transition-duration: 0.5s;
        color: var(--shading-color);
    }

    header nav .nav-options > button:hover {
        background-color: var(--light-blue);
        color: var(--light-orange);

    }

    header nav .nav-options > input {
        margin-right: 1rem;
        height: 50%;
        width: 70%;
        border-radius:  200px;
        background-color: var(--light-orange);
        border: none;
        padding-left: 2rem;
    }

    header nav .nav-options > input:focus {
        outline-style: none;
    }

    /* ------ */
    /* Hero */

    section.hero {
        width: 100%;
        height: 100vh;
        background-image: url("../images/bg-hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        font-family: 'Fugaz One', Arial, Helvetica, sans-serif;
    }

    .hero h1 {
        margin: 0;
        padding: 0 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        background-color: rgba(44, 50, 51, 0.45);
        color: var(--primary-orange);
        border-radius: 8px;
        cursor: default;
    }

    /* ----- */
    /* News */

    section.news {
        height: 100vh;
        display: flex;
        background-color: var(--light-orange);
    }

    .news-text {
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:var(--dark-blue);
    }

    .news-text h2 {
        margin: 0;
        margin-left: 3.5rem;
        margin-bottom: 3.5rem;
        font-size: 3.5rem;
        font-family: 'Fugaz One', Arial, Helvetica, sans-serif;
    }

    .news-text p {
        margin: 0 3.5rem;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    }

    .news-image {
        flex: 3.5;
        background-image: url("../images/bg-section-opt-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* ----- */
    /*Image Display */

    section.image-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--light-blue);
    }

    .image-display h2 {
        margin: 0;
        margin-top: 8rem;
        margin-bottom: 4rem;
        font-family: "Fugaz One", Arial, Helvetica, sans-serif;
        font-size: 3.5rem;
        color: var(--shading-color);
    }

    .image-container {
        width: calc(100% - 7rem);
        margin:  0 3.5rem;
        display: grid;
        grid-template: repeat(7, 20vh) / repeat(8, 1fr);
        gap: 15px;
        margin-bottom: 8rem;
    }

    .image-box {
        border-radius: 1rem;
    }

    .photography-1 {
        background: url("../images/flowers-1.jpg") no-repeat center;
        background-size: cover;
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }

    .photography-2 {
        background: url("../images/flowers-2.jpg") no-repeat left;
        background-size: cover;
        grid-row: 1 / 5;
        grid-column: 3 / 7;
    }

    .photography-3 {
        background: url("../images/flowers-3.jpg") no-repeat center;
        background-size: cover;
        grid-area: 1 / 7 / 3 / 9;
    }

    .photography-4 {
        background: url("../images/flowers-4.jpg") no-repeat right;
        background-size: cover;
        grid-area: 3 / 1 / 6 / 3;
    }

    .photography-5 {
        background: url("../images/flowers-5.jpg") no-repeat bottom center;
        background-size: cover;
        grid-area: 3 / 7 / 5 / 9;
    }

    .photography-6 {
        background: url("../images/flowers-6.jpg") no-repeat bottom;
        background-size: cover;
        grid-area: 5 / 3 / 8 / 6;
    }

    .photography-7 {
        background: url("../images/flowers-7.jpg") no-repeat left;
        background-size: cover;
        grid-area: 5 / 6 / 8 / 9;
    }

    .photography-8 {
        background: url("../images/flowers-8.jpg") no-repeat left;
        background-size: cover;
        grid-area: 6 / 1 / 8 / 3;
    }

    /* ----- */
    /* Section cta */

    section.cta {
        height: 100vh;
        background-color: var(--light-orange);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--shading-color);
    }

    .cta h2 {
        margin: 0;
        margin-bottom: 2.5rem;
        font-size: 3.5rem;
        font-family: 'Fugaz One', Arial, Helvetica, sans-serif;
    }

    .cta p {
        letter-spacing: -1px;
        margin: 0;
        font-size: 1.8rem;
        margin-bottom: 3.5rem;
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    }

    .cta button {
        width: 40%;
        padding: 2rem;
        border: none;
        background-color: var(--dark-blue);
        font-size: 2rem;
        color: rgb(255, 239, 204);
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        border-radius: 200px;
        cursor: pointer;
    }

    .cta > button:hover {
        background-color: rgb(44, 86, 160);
        color: rgb(255, 208, 107);
        transition: all 0.2s ease;
    }

    /* ----- */
    /* I want to make some cool stuff */

        header .desktop .logo:hover {
            transition: all 0.8s ease-in-out;
            transform: rotate(360deg);
        }

    .image-box img {
        display: none;
    }


}
/* End Of Desktop Styles */



/* Mobile Styles */
@media only screen and (max-width: 768px) {
    /* Header */
    header nav.desktop, .hero h1 {
        display: none;
    }

    header nav.mobile {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 5.375rem;
        font-size: 1.5rem;
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        position: fixed;
        top: 0;
        background-color: rgba(44, 50, 51, 0.4);
    }

    .logo {
        margin: 0 1rem;
    }

    .logo svg {
        transform: scale(1.5);
    }

    /* ----- */
    /* Footer */

    footer {
        position: fixed;
        bottom: 0;
        height: 2.6875rem;
        width: 100%;
        background-color: rgba(44, 50, 51, 0.4);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    /* ----- */
    /* Start of Hero */

    section.hero {
        background-image: url("../images/bg-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    /* ----- */
    /* Section News */

    section.news {
        background-image: url("../images/bg-section-opt-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news .news-text {
        margin: 1rem;
        height: 90%;
        background-color: rgb(240, 240, 240);
        border-radius: 20px;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--dark-blue)
    }

    .news-text h2 {
        margin: 0;
        font-size: 3.2rem;
        line-height: 3.8rem;
        font-family: 'Fugaz One', Arial, Helvetica, sans-serif;
        margin-bottom: 2rem;
    }

    .news-text p {
        font-size: 1.5rem;
        letter-spacing: -1px;
        line-height: 2rem;
        font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    }

    .news .news-image {
        display: none;
    }

    /* ----- */
    /* Display Section */

    section.image-display {
        background-color: var(--light-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.2rem;
        color: var(--shading-color);
        font-family: "Fugaz One", Arial, Helvetica, sans-serif;
        height: fit-content;
    }
    
    .image-display h2 {
        margin: 3rem;
    }
    
    .image-display .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 3rem;
    }

    .image-box {
        width: 40%;
        height: auto;
        margin: 1.5rem;
    }
    
    .image-box img {
        width: 100%;
        height: auto;
        border: solid 3px var(--shading-color);
        border-radius: 5px;
    }

    /* ----- */
    /* Section cta */

    section.cta {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--shading-color);
    }

    .cta h2 {
        text-align: center;
        margin: 2rem;
        font-family: "Fugaz One", Arial, Helvetica, sans-serif;
        font-size: 2.3rem;
    }

    .cta p {
        text-align: center;
        margin: 0 2rem;
        margin-bottom: 2rem;
        letter-spacing: -1px;
        font-size: 1.8rem;
        font-family: "Josepin Sans", Arial, Helvetica, sans-serif;
    }

    .cta button {
        background-color: var(--dark-blue);
        color: rgb(255, 239, 204);
        width: 60%;
        border: none;
        padding: 1rem 2rem;
        font-size: 1.8rem;
        font-family: "Josepin Sans", Arial, Helvetica, sans-serif;
        border-radius: 90px;
    }

    .cta button:hover {
        background-color: rgb(44, 86, 160);
        color: rgb(255, 208, 107);
        transition: all 0.2s ease;
    }

}
/* End of Mobile Styles */