p.titleOfTheShowcase {
    margin-left: 50px;
    text-decoration: underline;
}

.basicButtons {
    display: flex;
    flex-direction: column;
}

.basicButtons label {
    margin-left: 50px;
    margin-bottom: 10px;
    width: fit-content;
}

.basicButtons button {
    cursor: pointer;
    font-family: "Comfortaa";
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 130, 130);
    border: none;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 35px;
    width: 150px;
    height: 100px;
}

#basicHover {
    background-color: rgb(235, 100, 100);
    transition: none;
}

#basicActive {
    background-color: rgb(210, 75, 75);
    transition: none;
}

#basicExample:hover {
    background-color: rgb(235, 100, 100);
    transition: all .3s ease-out;
}

#basicExample:active {
    background-color: rgb(210, 75, 75);
    transition: none;
}

#defaultShowcase {
    border: medium solid rgb(255, 130, 130);
    border-radius: 10px;
    width: 300px;
    height: 325px;
    margin-left: 50px;
}

.image > p {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 140px;
    background-color: rgb(255, 130, 130);
    border-bottom: solid medium rgb(255, 130, 130);
}

.description p {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 5px;
}

