p.titleOfTheShowcase {
    margin-left: 50px;
    text-decoration: underline;
}

.basicButtons button, .buttonExample button {
    cursor: pointer;
    font-family: "Comfortaa";
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 130, 130);
    border: none;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 35px;
    width: 150px;
    height: 100px;
}


#basicHover {
    background-color: rgb(235, 100, 100);
    transition: none;
}

#basicActive {
    background-color: rgb(210, 75, 75);
    transition: none;
}

#basicExample:hover {
    background-color: rgb(235, 100, 100);
    transition: all .3s ease-out;
}

#basicExample:active {
    background-color: rgb(210, 75, 75);
    transition: none;
}

.showcaseDisplay {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.showcaseArticle {
    border: medium solid rgb(255, 130, 130);
    border-radius: 10px;
    width: 300px;
    height: 320px;
    margin-bottom: 40px;
}

.image {
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 140px;
    background-color: rgb(255, 130, 130);
    border-bottom: solid medium rgb(255, 130, 130);
}

.description {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 5px;
}

.hoveredShowcase {
    width: 330px;
    height: 352px;
}

.hoveredShowcaseImage {
    width: 330px;
    height: 154px;
}

.exampleShowcase:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.exampleShowcase:not(:hover) {
    transform: scale(1);
    transition: all 0.3s ease-in;
}

.showcaseExample {
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {

    .showcaseDisplay, .showcaseExample {
        transform: scale(0.9);
    }
}
