.subSectionOfColors {
    display: flex;
    justify-content: space-around;
    flex-wrap: ;
}

.subSectionOfColors div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 84px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(59, 59, 78);
    border-radius: 20px;
    margin-bottom: 50px;
}

.softRed {
    background-color: rgb(255, 130, 130);
}

.redPeach {
    background-color: rgb(246,161,146);
}

.pinkPeach {
    background-color: rgb(246,176,146);
}

.peachYogurt {
    background-color: rgb(246,196,146);
}

.grey {
    background-color: rgb(211, 211, 211);
}