/* 
    Styles are organized in this way:

        1) Root
        2) Headers - Nav
        3)

    To quickly go to a section search for the prefix "page" and the keyword in camelcase (ex. "pageSection")
*/

/* pageRoot */

:root {
    font-size: 16px;
}


/* End of pageRoot */

/* Reset margins and padding */

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Commissioner", Arial, Helvetica, sans-serif;
    --dark-gray: rgb(217, 217, 217);
    --light-gray: rgb(240, 240, 240);
}

/* End of Reset */



/* pageHeaders */



/* Phone Header and Nav */
@media only screen and (max-width: 768px) {

    header .desktop, .footer-logo {
        display: none;
    }
    
    header .mobile {
        background-color: rgb(240, 240, 240);
        z-index: 2;
    }

    nav.mobile {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 5.25rem;
        border-bottom: solid 1px rgb(10, 10, 10);
        position: fixed;
        top: 0;
        box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.4);
    }

    .page-body, footer {
        position: relative;
        top: 5.25rem;
    }

    nav.mobile div {
        display: flex;
        justify-content: center;
        flex: 1;
    }

    div.mobile-menu svg, div.search-icon svg {
        cursor: pointer;
    }  

    nav.mobile div.mobile-logo {
        display: flex;
        justify-content: center;
        flex: 3;
    }

    div.mobile-logo {
        height: 90%;
        width: auto;
    }

    .mobile-logo svg {
        height: 100%;
        width: auto;
    }
}
/* End of the header section */



/* pageHero */

span.unique {
    color:rgb(0, 89, 223);
}

/* Phone Hero */
@media only screen and (max-width: 768px) {

    section.page-body {
        width: 100vw;
    }

    section.hero {
        height: calc(100vh - 5.25rem);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(240, 240, 240);
        padding: 0.4rem;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Passion One", Arial, sans-serif;
        font-weight: 900;
        text-transform: uppercase;
    }
}
/* End of hero section */



/* Section pageOurProducts */



/* Phone OurProducts */
@media only screen and (max-width: 768px) {
    section.our-products .product-statement {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        padding: 0 0.8rem;
        height: 50vh;
        background-color: rgb(0, 89, 223);
        color: rgb(240, 240, 240);
    }
}

/* End of Our Products */



/* div pageProductsOverview */



/* Phone ProductsOverview */
@media only screen and (max-width: 768px) {

    .product-container.dark-grey {
        background-color: var(--dark-gray);
    }

    .product-container {
        background-color: var(--light-gray);
    }

    .products-overview {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: rgb(10, 10, 10);
    }

    .product-image-and-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 1.5rem;
    }

    .product-image-and-title svg {
        flex: 1;
        height: 4rem;
    }

    .product-image-and-title h3 {
        font-weight: 900;
        flex: 3;
    }

    .product-description {
        padding: 0 0.8rem;
        padding-bottom: 1rem;
    }

}