/* 
    Styles are organized in this way:

        1) Root
        2) Headers - Nav
        3)

    To quickly go to a section search for the prefix "page" and the keyword in camelcase (ex. "pageSection")
*/

/* pageRoot */

:root {
    font-size: 16px;
}


/* End of pageRoot */

/* Reset margins and padding */

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End of Reset */



/* pageHeaders */



/* Phone Header and Nav */
@media only screen and (max-width: 768px) {

    header .desktop, .footer-logo {
        display: none;
    }
    
    header .mobile {
        background-color: rgb(240, 240, 240);
        z-index: 2;
    }

    nav.mobile {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 5.25rem;
        border-bottom: solid 1px rgb(10, 10, 10);
        position: fixed;
        top: 0;
        box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.4);
    }

    .page-body, footer {
        position: relative;
        top: 5.25rem;
    }

    nav.mobile div {
        display: flex;
        justify-content: center;
        flex: 1;
    }

    div.mobile-menu svg, div.search-icon svg {
        cursor: pointer;
    }  

    nav.mobile div.mobile-logo {
        display: flex;
        justify-content: center;
        flex: 3;
    }

    div.mobile-logo {
        height: 90%;
        width: auto;
    }

    .mobile-logo svg {
        height: 100%;
        width: auto;
    }
}
/* End of the header section */



/* pageHero */


span.unique {
    color:rgb(0, 89, 223);
}

/* Phone Hero */
@media only screen and (max-width: 768px) {

    section.page-body {
        width: 100vw;
    }

    section.hero {
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(240, 240, 240);
        margin-bottom: 2rem;
        padding: 3rem;
    }

    .hero-text {
        display: flex;
        align-items: center;
        height: 25rem;
        text-align: center;
        padding: 2rem;
        font-size: 2.5rem;
        font-family: "Bowlby One SC", Arial, sans-serif;
        border: solid 0.5rem rgba(0, 89, 223, 0.6);
    }
}