/* 
    Styles are organized in this way:

        1) Root
        2) Headers - Nav
        3)

    To quickly go to a section search for the prefix "page" and the keyword in camelcase (ex. "pageSection")
*/

/* pageRoot */

:root {
    font-size: 16px;
}


/* End of pageRoot */

/* Basic styles */

.emoji {
    font-family: "Noto Color Emoji";
}

.blue-text {
    color: blue;
}

/* Reset margins and padding */

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Commissioner", Arial, Helvetica, sans-serif;
    --dark-gray: rgb(217, 217, 217);
    --light-gray: rgb(240, 240, 240);
}

@media only screen and (max-width: 768px) {
    html, body {
        width: 100vw;
        overflow-x: hidden;
    }
}

/* End of Reset */



/* pageHeaders */

.mobile {
    display: none;
}

nav.desktop {
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-bottom: solid 1px black;
}

.desktop .desktop-logo {
    padding-left: 1rem;
    width: 30vw;
}

.desktop-logo svg {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.desktop-buttons {
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.desktop-buttons button {
    height: 100%;
    padding: 0 3rem;
    background-color: rgb(240, 240, 240);
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.desktop-buttons button:hover {
    background-color: rgb(0, 89, 223);
    color: rgb(240, 240, 240);
    transition: all 600ms ease;
}

.desktop-buttons button:active {
    background-color: rgb(0, 59, 193);
    color: var(--dark-gray);
    transition: none;
}

.desktop-buttons .search-icon.desktop {
    margin: 0 1rem;
    cursor: pointer;
}


/* Phone Header and Nav */
@media only screen and (max-width: 768px) {

    header .desktop{
        display: none;
    }
    
    header .mobile {
        background-color: rgb(240, 240, 240);
        z-index: 2;
    }

    nav.mobile {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 5.25rem;
        border-bottom: solid 1px rgb(10, 10, 10);
        position: fixed;
        top: 0;
        box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.4);
    }

    .page-body, footer {
        position: relative;
        top: 5.25rem;
    }

    nav.mobile div {
        display: flex;
        justify-content: center;
        flex: 1;
    }

    div.mobile-menu svg, div.search-icon svg {
        cursor: pointer;
    }  

    nav.mobile div.mobile-logo {
        display: flex;
        justify-content: center;
        flex: 3;
    }

    div.mobile-logo {
        height: 90%;
        width: auto;
    }

    .mobile-logo svg {
        height: 100%;
        width: auto;
    }
}
/* End of the header section */



/* pageHero */

section.hero {
    overflow: hidden;
    height: calc(100vh - 86px);
    background-image: url(../stock-images/white-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 85%;
    border: solid 5px rgb(0, 89, 223);
}

.hero-text h1 {
    font-family: "Passion One", Arial, sans-serif;
    letter-spacing: 1%;
    line-height: 4rem;
    padding: 8% 3rem;
    margin: 0;
    font-size: 4rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}

span.unique {
    color:rgb(0, 89, 223);
}

.icons-on-display-top {
    margin-top: 1%;
}

.icons-on-display-bottom {
    margin-bottom: 1%;
}

.icons-on-display-top, .icons-on-display-bottom {
    width: 100%;
    height: 100%;
    position: relative;
}

.icons-on-display-top img, .icons-on-display-bottom img {
    display: inline;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0;
    animation: move-and-scale 14s linear infinite;
}

.icons-on-display-bottom img {
    animation-direction: reverse;
}

.icons-on-display-top img:nth-child(1), .icons-on-display-bottom img:nth-child(1) {
    animation-delay: 0s;
}

.icons-on-display-top img:nth-child(2), .icons-on-display-bottom img:nth-child(2) {
    animation-delay: 1s;
}

.icons-on-display-top img:nth-child(3), .icons-on-display-bottom img:nth-child(3) {
    animation-delay: 2s;
}

.icons-on-display-top img:nth-child(4), .icons-on-display-bottom img:nth-child(4) {
    animation-delay: 3s;
}

.icons-on-display-top img:nth-child(5), .icons-on-display-bottom img:nth-child(5) {
    animation-delay: 4s;
}

.icons-on-display-top img:nth-child(6), .icons-on-display-bottom img:nth-child(6) {
    animation-delay: 5s;
}

.icons-on-display-top img:nth-child(7), .icons-on-display-bottom img:nth-child(7) {
    animation-delay: 6s;
}

.icons-on-display-top img:nth-child(8), .icons-on-display-bottom img:nth-child(8) {
    animation-delay: 7s;
}

.icons-on-display-top img:nth-child(9), .icons-on-display-bottom img:nth-child(9) {
    animation-delay: 8s;
}

.icons-on-display-top img:nth-child(10), .icons-on-display-bottom img:nth-child(10) {
    animation-delay: 9s;
}

.icons-on-display-top img:nth-child(11), .icons-on-display-bottom img:nth-child(11) {
    animation-delay: 10s;
}

.icons-on-display-top img:nth-child(12), .icons-on-display-bottom img:nth-child(12) {
    animation-delay: 11s;
}

.icons-on-display-top img:nth-child(13), .icons-on-display-bottom img:nth-child(13) {
    animation-delay: 12s;
}

.icons-on-display-top img:nth-child(14), .icons-on-display-bottom img:nth-child(14) {
    animation-delay: 13s;
}



/* Keyframe for icons */
@keyframes move-and-scale {
    0% {
        opacity: 0;
        right: 0%
    }

    50% {
        transform: scale(1.4) translateY(-30%);
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(-50%);
        opacity: 0;
        right: 100%
    }
}

/* Phone Hero */
@media only screen and (max-width: 768px) {

    section.page-body {
        width: 100vw;
    }

    .icons-on-display-top, .icons-on-display-bottom {
        display: none;
    }

    section.hero {
        background-image: url("../stock-images/white-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 5.25rem);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Passion One", Arial, sans-serif;
        letter-spacing: 1px;
        line-height: 4rem;
        font-weight: 900;
        text-transform: uppercase;
        width: 100%;
    }

    section.hero h1 {
        padding: 0 2.5rem;
    }
}
/* End of hero section */



/* Section pageOurProducts */



/* Phone OurProducts */
@media only screen and (max-width: 768px) {
    section.our-products .product-statement {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        padding: 0 0.8rem;
        height: 50vh;
        background-color: rgb(0, 89, 223);
        color: rgb(240, 240, 240);
    }
}

/* End of Our Products */



/* div pageProductsOverview */



/* Phone ProductsOverview */
@media only screen and (max-width: 768px) {

    .product-container.dark-grey {
        background-color: var(--dark-gray);
    }

    .product-container {
        background-color: var(--light-gray);
        box-shadow: 0px 0px 2px;
    }

    .products-overview {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: rgb(10, 10, 10);
    }

    .product-image-and-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 1.5rem;
    }

    .product-image-and-title svg {
        flex: 1;
        height: 4rem;
    }

    .product-image-and-title h3 {
        font-weight: 900;
        flex: 3;
    }

    .product-description {
        padding: 0 0.8rem;
        padding-bottom: 1rem;
    }

}

/* End of Product Overview*/



/* Section pageOurTeam */



/* Phone OurTeam */
@media only screen and (max-width: 768px) {

    .our-team {
        background-image: url("../stock-images/team-background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: rgba(240, 240, 240);
        margin-bottom: 0;
    }
    
    .our-team, .team-members {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .our-team-introduction {
        font-family: "Cinzel", Georgia, 'Times New Roman', Times, serif;
        padding: 3rem 0;
        font-size: 1.8rem;
        letter-spacing: 2px;
    }
    
    .our-team-introduction h2 {
        border-top: solid 3px rgb(240, 240, 240);
        border-bottom: solid 3px rgb(240, 240, 240);
    }
    
    div.member-image {
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 250px;
        height: 250px;
        border: solid 3px var(--dark-gray);
        margin: 0 auto;
        background-color: rgb(240, 240, 240);
    }
    
    .small-image img {
        transform: scale(0.7);
    }
    
    .member-information {
        padding-bottom: 3.75rem;
        width: 256px;
        margin: 0 auto;
    }

    .member-information ul {
        color:rgb(10, 10, 10);
        background-color: var(--dark-gray);
        padding: 0.5rem 0.2rem;
        margin: 0;
        list-style: none;
    }

    .member-information > ul > li {
        padding-bottom: 0.3rem;
    }

    .team-member-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        /* border: red solid medium; */
    }
    
}

/* End of pageOurTeam */



/* Section pageReviews */

section.reviews {
    background-color: var(--light-gray);
}

/* Phone reviews */
@media only screen and (max-width: 768px) {

    section.reviews {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .reviews-title h2 {
        color: rgb(0, 0, 30);
        font-family: "Cinzel", Georgia, 'Times New Roman', Times, serif;
        border-top: solid 3px rgb(0, 0, 30);
        border-bottom: solid 3px rgb(0, 0, 30);
        padding: 0.3rem 0;
        font-size: 1.8rem;
        letter-spacing: 2px;
    }

    .review-post {
        padding: 2.5rem 0;
        box-shadow: 0px 0px 1px;
    }
    
    .review-post-overview {
        display: flex;
    }

    .review-post-image {
        flex: 1;
        padding: 0.4rem;
    }

    .review-post-title-and-rating {
        flex: 5;
    }

    .review-post-image img {
        width: 95%;
        height: auto;
        background-color: white;
        border-radius: 50%;
        border: medium solid var(--dark-gray)
    }

    .review-post-title-and-rating {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .review-title > h2 {
        text-wrap: wrap;
        margin: 0;
        padding-bottom: 0.05rem;
    }

    .review-title {
        display: flex;
        justify-content: start;
    }

    .review-rating > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .review-rating > ul > li {
        display: inline;
    }

    .review-post-text {
        padding: 0 0.5rem;
    }
}

/* End of pageReviews */



/* Start of pageFooter */



/* Phone Footer */
@media only screen and (max-width: 768px) {

    footer {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(240, 240, 240);
        background-color: rgb(10, 10, 10);
    }

    .logo-and-contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .footer-logo {
        width: 30vw;
    }

    .footer-logo svg {
        width: 100%;
        height: auto;
    }

    .contact-information > ul {
        list-style: none;
        padding: 0;
        padding-left: 30px;
        margin: 20px auto;
    }
}